<xf:title>{{ phrase('sylphian_userpets_add_spritesheet_title') }}</xf:title>

<xf:form action="{{ link('sylphian_userpets/spritesheets/save') }}" ajax="true" class="block" enctype="multipart/form-data">
    <div class="block-container">
        <div class="block-body">
            <xf:hiddenval name="spritesheet_id" value="0" />
            <xf:hiddenval name="file" value="" />

            <xf:uploadrow name="image"
                          label="{{ phrase('sylphian_userpets_spritesheet_image') }}"
                          required="required"
                          accept=".png,.gif,.jpg,.jpeg,.webp"
                          explain="{{ phrase('sylphian_userpets_spritesheet_image_explain') }}" />

            <xf:textboxrow name="filename" value="" label="{{ phrase('sylphian_userpets_filename_label') }}"
                           explain="{{ phrase('sylphian_userpets_filename_explain') }}" />

            <xf:textboxrow name="title" value="" label="{{ phrase('sylphian_userpets_title_label') }}" />

            <xf:numberboxrow name="frame_width" value="{$entity.frame_width}" min="1" step="1" label="{{ phrase('sylphian_userpets_frame_width_label') }}" />
            <xf:numberboxrow name="frame_height" value="{$entity.frame_height}" min="1" step="1" label="{{ phrase('sylphian_userpets_frame_height_label') }}" />
            <xf:numberboxrow name="frames_per_animation" value="{$entity.frames_per_animation}" min="1" step="1" label="{{ phrase('sylphian_userpets_frames_per_animation_label') }}" />
            <xf:numberboxrow name="fps" value="{$entity.fps}" min="1" max="120" step="1" label="{{ phrase('sylphian_userpets_fps_label') }}" />
        </div>

        <xf:submitrow submit="{{ phrase('save') }}" icon="save" sticky="true" />
    </div>
</xf:form>
