<xf:title>{{ phrase('delete') }}: {$filename}</xf:title>

<xf:form action="{{ link('sylphian_userpets/spritesheets/delete') }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body u-alignCenter">
            <xf:hiddenval name="file" value="{$filename}" />

            <xf:if is="$exists">
                <div class="block-row">
                    <div class="contentRow">
                        <div class="contentRow-main">
                            <p>{{ phrase('sylphian_userpets_confirm_delete_spritesheet') }}</p>
                            <img src="{$url}" alt="{$filename}" style="max-width: 256px; image-rendering: pixelated; border-radius: 2px;" />
                        </div>
                    </div>
                </div>
                <xf:else />
                <div class="block-rowMessage block-rowMessage--warning">
                    {{ phrase('sylphian_userpets_file_missing_delete_db_only') }}
                </div>
            </xf:if>
            <xf:submitrow submit="{{ phrase('delete') }}" icon="delete" rowtype="simple" />
        </div>
    </div>
</xf:form>
